{% extends "base.html" %}
{% block title %}
  Home
{% endblock %}
{% block content %}

    <main class="mt-3">

        <div class="container">

            <h1>Enter Username</h1>

            <div class="row">
                <div class="col">

                    <input name="username" id="username" placeholder="Enter Username" required>
                    <br>
                    <button type="submit" class="number-input" onclick="profile()">Submit</button>

                </div>
            </div>
        </div>

    </main>

    <script>

        function profile() {
            var username = document.querySelector("#username").value;
            window.location.assign(`/${username}`)
        }

    </script>

{% endblock %}
